<div class="containers">

  <div class="header">
    <h2>Relatório de vendas realizadas</h2>
  </div>

  <div class="main">
    <ngb-accordion [closeOthers]="true" >
      <ngb-panel *ngFor="let item of this.relatorio | keyvalue:keyDescOrder;let a=index" >
        
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="accordion-button" (click)="teste(item.value[0].cod_relatorio)">Relatório do dia: {{item.key}}</button>
        </ng-template>
        
        <ng-template ngbPanelContent >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor de venda</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Desconto %</th>
                <th scope="col">Valor total com desconto</th>
                <th scope="col">Valor total sem desconto</th>
                <th scope="col">Forma de pagamento</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of objectKeys(item.value);let i=index">
              
                <td>{{item.value[i].codigo}}</td>
                <td>{{item.value[i].nome}}</td>
                <td>{{item.value[i].valorVenda | currency:'BRL'}}</td>
                <td>{{item.value[i].quantidade}}</td>
                <td>{{item.value[i].desconto}}%</td>
                <td>{{item.value[i].valorComDesconto | currency:'BRL'}}</td>
                <td>{{item.value[i].valorSemDesconto | currency:'BRL'}}</td>
                <td>{{item.value[i].formaPagamento}}</td>
                
              </tr>

            </tbody>
           
          </table>
          <hr>
          <div class="form-group row justify-content-between">
            <div class="col-2">
              <!-- Name input -->
              <div class="form-outline">

                  <label class="form-label" for="desconto">Código da venda</label>
                  <input #teste readonly class="inputs form-control" value={{item.value[0].cod_relatorio}} />
              
              </div>

            </div>

            <div class="col-2">
              <!-- Name input -->
              <div class="form-outline">
                <label class="form-label" for="desconto">Total sem desconto</label>
                <input readonly class="inputs form-control" [value]="this.totalSemDesconto | currency:'BRL'"/>
              </div>

            </div>

            <div class="col-2">
              <!-- Name input -->
              <div class="form-outline">
                <label class="form-label" for="desconto">Total com desconto</label>
                <input readonly class="inputs form-control" [value]="this.totalComDesconto | currency:'BRL'"/>
              </div>
              
            </div>

            <div class="col-2">
              <!-- Name input -->
              <div class="form-outline">
                <label class="form-label" for="desconto">Total de desconto</label>
                <input readonly class="inputs form-control" [value]="this.totalDesconto | currency:'BRL'"/>
              </div>
              
            </div>
            
            <div class="alert alert-dark mt-2" role="alert">
              Valores totais já estão com os juros de cartões já descontados!
            </div>
           
          </div>
        </ng-template>


      </ngb-panel>
    </ngb-accordion>

  </div>

  <div class="footer">
    <h1>footer</h1>
  </div>

</div>