<div class="containers">

  <div class="header">
    <h2>Relatório de vendas realizadas</h2>
  </div>

  <div class="main">
    <ngb-accordion [closeOthers]="true" >
      <ngb-panel *ngFor="let item of this.relatorio | keyvalue:keyDescOrder;let a=index" >
        
        <ng-template ngbPanelHeader>
          <button ngbPanelToggle class="accordion-button">Data da venda : {{item.key}}</button>
        </ng-template>
        
        <ng-template ngbPanelContent >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor de venda</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Desconto %</th>
                <th scope="col">Valor total com desconto</th>
                <th scope="col">Valor total sem desconto</th>
                <th scope="col">Forma de pagamento</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of objectKeys(item.value);let i=index">
              
                <td>{{item.value[i].codigo}}</td>
                <td>{{item.value[i].nome}}</td>
                <td>{{item.value[i].valorVenda | currency:'BRL'}}</td>
                <td>{{item.value[i].quantidade}}</td>
                <td>{{item.value[i].desconto}}%</td>
                <td>{{item.value[i].valorComDesconto | currency:'BRL'}}</td>
                <td>{{item.value[i].valorSemDesconto | currency:'BRL'}}</td>
                <td>{{item.value[i].formaPagamento}}</td>
              </tr>

            </tbody>
           
          </table>
          <div class="form-group row">

            <div class="form-outline">
              <label class="form-label" >Total de desconto</label>
              <input readonly type="text" class="inputs form-control" [value]="50| currency:'BRL'" />
            </div>
      
          </div>
        </ng-template>


      </ngb-panel>
    </ngb-accordion>

  </div>

  <div class="footer">
    <h1>footer</h1>
  </div>

</div>