<div class="containers">
  
  <div class="header">
    <form [formGroup]="form" (ngSubmit)="buscar()">

    <h2>Realizar venda</h2>
    <div class="row ">
      <div class="col-2">
        <div class="form-outline">
          <input #buscarCodigo type="text"  class="form-control" placeholder="Insira o código do produto" value="117069" />
          
          <div *ngIf="this.errorBusca == true" class="alert alert-danger">
            <div >*Código inválido ou não encontrado!.</div>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="col-auto">
          <button type="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
        </div>
      </div>
    </div>


      <div class="row d-flex justify-content-between">
        <div class="col-2">
          <div class="form-outline">
            <label class="form-label" for="nome">Nome</label>
            <input formControlName="nome" readonly type="text" class="form-control">
          </div>
        </div>
        
        <div class="col-2">
          <div class="form-outline">
            <label class="form-label" for="precoVenda">Valor de venda</label>
            <input  formControlName="precoVenda" readonly type="text" class="inputs form-control" [(ngModel)]="this.valorVenda"
              [value]="this.valorVenda | currency:'BRL'" />
          </div>
        </div>
        <div class="col-2">
          <!-- Email input -->
          <div class="form-outline">
            <label class="form-label" for="quantidade">Quantidade</label><span *ngIf="this.isSearch">( {{this.estoque}}
              em
              estoque)</span>
            <input formControlName="quantidade" type="number" class="inputs form-control" min="1" [defaultValue]="1"
              [(ngModel)]="this.quantidade" [max]="this.estoque" />

            <div *ngIf="f.quantidade.touched && f.quantidade.invalid" class="alert alert-danger">
              <div *ngIf="f.quantidade.errors?.['required']">*A quantidade é obrigatória.</div>
              <div *ngIf="f.quantidade.errors">*A quantidade deve ser menor ou igual a quantidade em estoque.</div>
            </div>

          </div>
        </div>

        <div class="col-2">
          <!-- Name input -->
          <div class="form-outline">
            <label class="form-label" for="desconto">Desconto %</label>
            <input #desconto type="number" class="inputs form-control" formControlName="desconto" min="0" max="100"
              [(ngModel)]="this.descontoP" />
          </div>
        </div>

        <div class="col-2">
          <!-- Name input -->
          <div class="form-outline">
            <label class="form-label" for="precoComDesconto">Valor total com desconto</label>
            <input [(ngModel)]="this.valorDesconto" readonly type="text" class="inputs form-control"
              formControlName="precoComDesconto"
              [value]="this.quantidade * this.totalComDesc()| currency:'BRL'" />
          </div>
        </div>

        <div class="col-2">
          <!-- Name input -->
          <div class="form-outline">
            <label class="form-label" for="precoSemDesconto">Valor total sem desconto</label>
            <input [(ngModel)]="this.precoFinal" readonly type="text" class="inputs form-control"
              formControlName="precoSemDesconto" [value]="this.quantidade * totalSemDesc()| currency:'BRL'" />
          </div>
        </div>


      </div>

      <div class="row">

        <div class="col-2">
          <label class="form-label" for="precoSemDesconto">Data da venda</label>
          <div class="input-group">
            <input #data formControlName="dataVenda" class="form-control" placeholder="Data da venda"
              [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [footerTemplate]="footerTemplate">
            <button class=" btn btn-outline-secondary fas fa-solid fa-calendar-days" (click)="d.toggle()"
              type="button"></button>

          </div>

          <ng-template #footerTemplate>
            <hr class="my-0">
            <button class="btn btn-primary btn-sm m-2 float-start" (click)="model = today; d.close()">Hoje</button>
            <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">Fechar</button>
          </ng-template>

        </div>

        <div class="col-2">
          <!-- Name input -->
          <div class="form-outline">
            <label class="form-label" for="precoComDesconto">Código da venda</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="this.idVenda" readonly type="text"
              class="inputs form-control" [value]="this.idVenda" />
          </div>
        </div>

        <div class="col col-sm-2">
          <div class="form-group">
            <label class="form-label">Forma de pagamento</label>
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedOptionPagamento" class="custom-select">
              <option *ngFor="let opcao of this.formasPagamento">{{opcao.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-2" *ngIf="this.selectedOptionPagamento == 'Cartão crédito - à vista'">
          <div class="form-outline">
            <label class="form-label" for="precoVenda">Taxa de juros à vista</label>
            <input [ngModelOptions]="{standalone: true}" readonly type="text" class="inputs form-control" [(ngModel)]="this.taxaJurosVista" />
          </div>
        </div>

        <div class="col-2" *ngIf="this.selectedOptionPagamento == 'Cartão crédito - à prazo'">
          <div class="form-outline">
            <label class="form-label" for="precoVenda">Taxa de juros à prazo</label>
            <input [ngModelOptions]="{standalone: true}" readonly type="text" class="inputs form-control" [(ngModel)]="this.taxaJurosPrazo" />
          </div>

        </div>
        <div class="col-2" *ngIf="this.selectedOptionPagamento == 'Cartão crédito - à prazo'">
          <div class="form-outline">
            <label class="form-label" for="precoVenda">Taxa de juros por parcela</label>
            <input [ngModelOptions]="{standalone: true}" readonly type="text" class="inputs form-control" [(ngModel)]="this.taxaJurosParcela" />
          </div>

        </div>
        <div class="col-2" *ngIf="this.selectedOptionPagamento == 'Cartão crédito - à prazo'">
          <div class="form-outline">
            <label class="form-label" for="precoVenda">Número de parcelas</label>
            <select [ngModelOptions]="{standalone:true}" class="inputs custom-select" [(ngModel)]="this.parcelas">
            <option *ngFor="let parcelas of this.numParcelas">{{parcelas}}</option>
          </select>
          </div>
          

        </div>

        <div class="col-2" *ngIf="this.selectedOptionPagamento == 'Cartão débito'">
          <div class="form-outline">
            <label class="form-label" for="precoVenda">Taxa de juros débito</label>
            <input [ngModelOptions]="{standalone: true}" readonly type="text" class="inputs form-control" [(ngModel)]="this.taxaJurosDebito"/>
          </div>
        </div>

      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-md mt-3" (click)="adicionar(this.form)"
          [disabled]="!form.valid">Adicionar</button>
      </div>


    </form>
  </div>

  <div class="main">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome</th>
          <th scope="col">Valor de venda</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Desconto %</th>
          <th scope="col">Valor total com desconto</th>
          <th scope="col">Valor total sem desconto</th>
          <th scope="col">Forma de pagamento</th>
          <th scope="col">Remover da lista</th>

        </tr>
      </thead>
      <tbody  >
        <tr *ngFor="let item of lista;let i=index">
          <td>{{item.codigo}}</td>
          <td>{{item.nome}}</td>
          <td>{{item.valorVenda | currency:'BRL'}}</td>
          <td>{{item.quantidade}}</td>
          <td>{{item.desconto}}%</td>
          <td>{{item.valorComDesconto | currency:'BRL'}}</td>
          <td>{{item.valorSemDesconto | currency:'BRL'}}</td>
          <td>{{item.formaPagamento}}</td>
          <td class="text-center"><a type="button" (click)="deleteList(i, item)"> <mat-icon>remove_circle</mat-icon>  </a></td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- <button class="btn btn-primary" (click)="finalizar()">Finalizar</button> -->

  <div class="footer d-flex justify-content-between">


    <div class="form-group row">


      <div class="col-sm-10">
        <button class="btn btn-primary" (click)="finalizar()" [disabled]="this.lista.length <= 0 ">Finalizar</button>
        <!-- <button class="btn btn-primary" (click)="teste()">teste</button> -->
      </div>

    </div>
    <div class="form-group row">

      <div class="form-outline">
        <label class="form-label" >Total sem desconto</label>
        <input readonly type="text" class="inputs form-control" [value]="this.totalSemDesconto| currency:'BRL'" />
      </div>

    </div>
    <div class="form-group row">

      <div class="form-outline">
        <label class="form-label" >Total com desconto</label>
        <input readonly type="text" class="inputs form-control" [value]="this.totalComDesconto| currency:'BRL'" />
      </div>

    </div>


    <div class="form-group row">

      <div class="form-outline">
        <label class="form-label" >Total de desconto</label>
        <input readonly type="text" class="inputs form-control" [value]="this.totalDesconto| currency:'BRL'" />
      </div>

    </div>

  </div>

</div>